@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.green{
    background: #00BFA8;
  }
  .light-green{
    background: #E5F7EF;
  }
  .blue{
    background: #303486 !important;
  }
  .red{
    background: #BD3B3B;
  }
  .text-green{
    color: #00BFA8;
  }
  .text-blue{
    color: #303486;
  }
  .b-blue{
    border:1px solid #303486;
  }
  
  .b-trans{
    background:rgba(0, 0, 0, 0.5);
  }
  .border-b-blue{
    border-bottom: 3px solid #303486;
  }